.tableCol
  border 1px solid black
  text-align center
  cursor pointer
  &Main
    &:hover
      background lightgray

.tableRow
  display flex
  flex-wrap wrap
  width 100%
  &:hover
   background lightgray

.up
 transform rotate(180deg)

.pagination
  border 1px solid black
  width 100px
  cursor pointer

.searchBar
  margin 10px 0

.container
  display flex
  justify-content flex-end

.modal
  position absolute
  width 200px
  top 50%
  left 50%
  transform translate(-50%, -50%)
  right auto
  bottom auto
  background-color white
  border transparent
  padding 25px
  &Overlay
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color alpha(black, 0.7)
  &Header
    border-bottom #333940 1px solid
    margin-bottom 5px