.tableCol
  border 1px solid black
  text-align center
  cursor pointer
  &Main
    &:hover
      background lightgray

.tableRow
  display flex
  flex-wrap wrap
  width 100%
  &:hover
   background lightgray

.up
 transform rotate(180deg)

.pagination
  border 1px solid black
  width 100px
  cursor pointer

.searchBar
  margin 10px 0

.container
  display flex
  justify-content flex-end
